#productBarcodePrintHelper{
    width: 65vh;
    border: none;
    position: fixed;
    top: 100px;
}
#productBarcodePrintHelper::backdrop{
    background: rgba(3,3,3,.5);
}

#productBarcodePrintHelper{

}


#productBarcodePrintHelper .content{
    height: auto;
    width: auto;
    position: relative;
}


#productBarcodePrintHelper .header{
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    display: inline-block;
}


#productBarcodePrintHelper .footer{
    text-align: right;
    padding: 10px;
}

#productBarcodePrintHelper .formItem{
    margin: 10px;
}

#productBarcodePrintHelper .formItem input, #productBarcodePrintHelper .formItem select{
    margin: 10px;
}

#productBarcodePrintHelper .content .productDetails{
    border: 1px solid;
    display: inline-block;
    padding: 10px;
    margin-left: 20%;
    background: #F3F3F3;
}
#productBarcodePrintHelper .content .productDetails div{
    margin: 5px;
}

#productBarcodePrintHelper .content .productDetails div span:first-child{
    display: inline-block;
    width: 100px;
}
