#userWindow{
    display: none;
}
#adminWindow{
    display: none;
}
#visibilityWindow{
    display: none;
}



.defaultButtonsContainer {
    float: right;
    padding-right: 40px;
}

.searchButtonsContainer {
    float: left;
}

td.searchButtonsContainerParent {
    width: 38px;
    /*display: none;*/
}

.searchButtonsContainer .showSearchContainer {
    background: url("/pic/search.png")no-repeat;
}

.searchButtonsContainer .clearSearch {
    background: url("/pic/delete.png")no-repeat;
}

.defaultButtonsContainer .setDisplayModeToCalendarView {
    background: url("/pic/calendar.png")no-repeat;
}

.defaultButtonsContainer .setDisplayModeToThumbnailView {
    background: url("/pic/thumbnails.png")no-repeat;
}

.defaultButtonsContainer .setDisplayModeToGridView {
    background: url("/pic/table.png")no-repeat;
}

.defaultButtonsContainer .setDisplayModeToDirectCreateView {
    background: url("/pic/addDetails.png")no-repeat;
}


body.pc .defaultButtonsContainer .icon, body.pc .searchButtonsContainer .icon {
    height: 32px;
    width: 30px;
    padding-bottom: 4px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    opacity: .5;
    background-position: center;
}

body.mobile .defaultButtonsContainer .icon, body.mobile .searchButtonsContainer .icon {
    height: 18px;
    width: 18px;
    background-size: contain;
    padding-bottom: 4px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    opacity: .5;
}

.defaultButtonsContainer .icon.selected {
    opacity: 1;
    border-bottom: 3px solid rgba(50, 147, 211, 1);
}

.defaultButtonsContainer .setDisplayModeButtonsContainer {
    margin-left: 10px;
    display: inline-block;
}



.gridViewButtonsContainer:not(:empty){
    min-height: 45px;
}



.hundred-percent {
    width: 100%;
    height: 100%;
}

.hundred-percent-x {
    width: 100%;
}
#viewsContainer{
    vertical-align: top;
}


::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9c9b9b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6d6c6c;
}


.subModule-container{
    position: relative;
    height: 100%;
    min-height: 70vh;
}


.window-container .subModule-container{
    min-height: auto;
}