
.card-container {
    position: absolute;
    display: inline-table;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    margin: 12px;
}
.card-divHeader {
    border-bottom: 1px solid #EEE;
    padding: 12px;
    background-color: #F8F8F8;
}
.card-spanDisplayName {
    pointer-events: none;
}
.card-divContent {
    padding: 12px;
    overflow: auto;
}
.card-spanTextContext {

}
.card-spanQueryContext {

}

.card-container.mobile{
    display: block;
    position: relative;
}