#dashboardContainer *, #dashboardContainer *:after, #dashboardContainer *:before{
    box-sizing: border-box;
}

#dashboardContainer {
    width: 100%;
    height: 100%;
    /* background: #EADBC4; */
    background-image: url(/pic/bg_tiny_grid.png);
    position: relative;
    box-sizing: border-box;
}

#dashboardContainer #dashboardContentContainer{
    margin-left: 180px;
    height: 100%;
    width: calc( 100% - 180px);
}

#dashboardContainer #dashboardButtons {
    float: right;
    padding: 5px;
}

#dashboardContainer #dashboardContents {
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    vertical-align: top;
}

#dashboardContainer #dashboardContents .dashboardGroupElement{
    display: none;
}
#dashboardContainer #dashboardContents .dashboardGroupElement.visible{
    display: block;
}




#dashboardContainer #dashboardContents .dashboardGroupElement.ui-sortable .dashboardItem{
    animation: float 1s;
    animation-iteration-count: infinite;
    /*animation-delay: 1s;*/
}
#dashboardContainer #dashboardContents .dashboardGroupElement.ui-sortable .dashboardItem[data-id$="1"] {
    animation-delay: 300ms;
}
#dashboardContainer #dashboardContents .dashboardGroupElement.ui-sortable .dashboardItem[data-id$="2"] {
    animation-delay: 600ms;
}
#dashboardContainer #dashboardContents .dashboardGroupElement.ui-sortable .dashboardItem[data-id$="3"] {
    animation-delay: 900ms;
}
#dashboardContainer #dashboardContents .dashboardGroupElement.ui-sortable .dashboardItem[data-id$="4"] {
    animation-delay: 1200ms;
}
#dashboardContainer #dashboardContents .dashboardGroupElement.ui-sortable .dashboardItem[data-id$="5"] {
    animation-delay: 300ms;
}
#dashboardContainer #dashboardContents .dashboardGroupElement.ui-sortable .dashboardItem[data-id$="6"] {
    animation-delay: 600ms;
}
#dashboardContainer #dashboardContents .dashboardGroupElement.ui-sortable .dashboardItem[data-id$="7"] {
    animation-delay: 900ms;
}
#dashboardContainer #dashboardContents .dashboardGroupElement.ui-sortable .dashboardItem[data-id$="8"] {
    animation-delay: 1200ms;
}
#dashboardContainer #dashboardContents .dashboardGroupElement.ui-sortable .dashboardItem[data-id$="9"] {
    animation-delay: 300ms;
}

@-webkit-keyframes float {
    0% {
        transform: translate3d(0, 0, 0);
    }
    55% {
        transform: translate3d(-1px, 0px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes float {
    0% {
        transform: translate3d(0, 0, 0);
    }
    55% {
        transform: translate3d(-1px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}






.dashboardItem {
    position: relative;
    display: inline-block;
    /*flex: 1 1 auto;*/
    min-width: 100px;
    min-height: 100px;
    background: white;
    border-radius: 1px;
    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, .2); */
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: box-shadow .3s ease-in-out;
    margin: 5px;
    margin-bottom: 10px;
    vertical-align: top;
}

.dashboardItem .dashboardItemHeader {
    position: relative;
    display: block;
    text-align: left;
}

.dashboardItem .dashboardItemHeader .headerDisplayName{
    display: inline-block;
    /*pointer-events: none;*/
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    vertical-align: top;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-width: calc(100% - 100px);*/
}

.dashboardItem .dashboardItemHeader .dashboardItemInlineButtons{
    position: relative;
    float: right;
    vertical-align: top;
}




.dashboardItem .dashboardItemInlineButtons > div{
    display: inline-block;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    top: 0px;
    width: 24px;
    height: 24px;
    background-size: contain;
    cursor: pointer;
    opacity: .05;
}
.dashboardItem:hover .dashboardItemInlineButtons > div {
    opacity: .25;
}
.dashboardItem .dashboardItemInlineButtons > div:hover{
    opacity: 1;
}

.dashboardItem .dashboardItemInlineButtons .editDashboardItem{
    background-image: url(/pic/dashboard/ic_edit.gif);
}
.dashboardItem .dashboardItemInlineButtons .showDashboardItemContextMenu{
    background-image: url(/pic/dashboard/ic_arrow_down.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
}







.dashboardItem [data-not-configured]{
    position: relative;
    min-height: 16px;
}
.dashboardItem [data-not-configured]:after{
    content: 'configure';
    /*content: attr(data-configure-message);*/
    position: absolute;
    background-color: #f5f5f545;
    color: #0c0c0c;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 1;
    border: 1px solid #cdcdcd;
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #da2929;
    color: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-sizing: border-box;
    transition: all .2s;
    -webkit-user-select: none;
    /* background-color: #fff; */
    border: 1px solid rgba(0,0,0,.17);
    cursor: pointer;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    opacity: .50;
    pointer-events: none;
}
.dashboardItem [data-not-configured]:hover:after{
    opacity: 1;
}





.dashboardItem.dashboardItem_Table {
    min-width: 400px;
    /*width: 45%;*/
    display: block;
}

.dashboardItem.dashboardItem_Table .mainTableContainer{
    min-height: 100px;
    padding: 5px;
}


.dashboardItem.dashboardItem_Table #mainTable {
    border-collapse: collapse;
    margin: 5px 10px;
    border: 1px solid #EEE;
    width: 95%;
}

.dashboardItem.dashboardItem_Table #mainTable th {
    padding: 4px;
    background: whitesmoke;
    text-align: left;
    border-bottom: 1px solid #dfdfdf;
}

.dashboardItem.dashboardItem_Table #mainTable th span {
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    padding: 4px;
    text-transform: capitalize;
}

.dashboardItem.dashboardItem_Table #mainTable td {
    padding: 6px 8px;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #dfdfdf;
}
.dashboardItem.dashboardItem_Table #mainTable td span{
    display: inline-block;
    text-align: center;
}
.dashboardItem.dashboardItem_Table #mainTable td.no-data-message-row{
    padding: 10px;
}

.dashboardItem.dashboardItem_Table #mainTable_length {
    display: block;
    padding: 5px;
    margin-left: 7px;
}


.dashboardItem.dashboardItem_StatusCard {
    min-width: 140px;
    min-height: 120px;
}

.dashboardItem.dashboardItem_StatusCard .dashboardItemElement {
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
}


.dashboardItem.dashboardItem_StatusCard .statusCardMainValue{
    font-size: 50px;
    padding-bottom: 5px;
}

.dashboardItem.dashboardItem_StatusCard .statusCardMainValueInfoText{
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 500;
}









.dashboardItem.dashboardItem_List {
    min-width: 400px;
}










/* --------- Create or Edit Dashboard Item Component ----------- */

.createOrEditDashboardItemComponent .edit tr.typeSelector{
    display: none;
}

.createOrEditDashboardItemComponent .cc-selector input{
    margin:0;
    padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}


.createOrEditDashboardItemComponent .cc-selector-2 input:active +.drinkcard-cc, .createOrEditDashboardItemComponent .cc-selector input:active +.drinkcard-cc{
    opacity: 1;
    border: 1px solid #0000ff80;
}
.createOrEditDashboardItemComponent .cc-selector-2 input:checked +.drinkcard-cc, .createOrEditDashboardItemComponent .cc-selector input:checked +.drinkcard-cc{
    opacity: 1;
    border: 1px solid #0000ff80;
}

.createOrEditDashboardItemComponent .drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;
    height:70px;
    margin: 5px;
    transition: all 100ms ease-in;
    opacity : 1;
    border: 1px solid #AAA;
    position: relative;
}
.createOrEditDashboardItemComponent .drinkcard-cc:hover{
    opacity : 1;
    border: 1px solid #0000ff80;
}

.createOrEditDashboardItemComponent .drinkcard-cc.statusCard{
    background-image:url(/pic/dashboard/ic_item_type_statusCard.png);
    width: 115px;
    height: 100px;
}

.createOrEditDashboardItemComponent .drinkcard-cc.table{
    width: 120px;
    height: 100px;
    background-image:url(/pic/dashboard/ic_item_type_table.png);
}


.createOrEditDashboardItemComponent .drinkcard-cc:after{
    content: attr(data-item-type-display-name);
    position: absolute;
    bottom: -16px;
    font-size: 12px;
    text-align: center;
    left: 0;
    right: 0;
}