
.dataSourceMaker{
}
.dataSourceMaker .popupMain {
    min-width: 600px;
    width: 70vw;
    background: #fAfAfa;
    top: 5vh;
}

.dataSourceMaker .dataSourceMakerTabs {
    display: block;
    text-align: left;
    list-style-type: none;
    background: #607d8b1f;
}

.dataSourceMaker .dataSourceMakerTabs li {
    display: inline-block;
    padding: 7px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.dataSourceMaker .dataSourceMakerTabs li.selected {
    border-bottom: 1px solid #666;
    background: #607D8B;
    color: white;
}



.dataSourceMaker #dataSourceMakerContents [data-scope] {
    display: none;
    padding: 10px 5px;
}

.dataSourceMaker #dataSourceMakerContents [data-scope].visible {
    display: block;
}




#dataSourceMakerContents td {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #dfe5e8;
}

#dataSourceMakerContents th {
    padding: 5px;
    font-weight: 500;
    background: #607d8b33;
    text-align: center;
    font-size: 13px;
    border: 1px solid #dfe5e8;
}

#dataSourceMakerContents table {
    border-collapse: collapse;
    width: 100%;
}

#dataSourceMakerContents td select {
    padding: 5px;
    min-width: 130px;
    margin: 5px;
}




#dataSourceMakerMain p {
    text-align: left;
    padding: 5px;
}

.primaryDataSource td span {
    display: block;
    text-align: left;
    font-size: 12px;
}


.primaryDataSource > table {
    padding: 5px;
}

.dataSourceMaker .card {
    border: 1px solid #EEE;
    background: white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    padding: 5px;
    margin-top: 10px;
}




.dataSourceMaker.columnsAndDisplay table {
    padding: 5px;
}


.dataSourceMaker #allColumnsToShowTableContainer {
    max-height: 350px;
    overflow: auto;
}
#allColumnsToShowTable label {
    display: block;
    padding: 3px;
}









.dataSourceMaker .query-builder {
    text-align: left;
}