html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html{
    font-family: "Segoe UI";
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    line-height: 1;
    color: #000;
    background: #fff;
    overflow: hidden;
    -webkit-perspective: 1000px;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
td{
    /*vertical-align: top;*/
}
a img {
    border: none;
}

body.smallFontSize{
    font-size: 12px;
}
body.mediumFontSize{
    font-size: 14px;
}
body.largeFontSize{
    font-size: 16px;
}

body .tableRow{
    display: table-row;
}
body .tableCell{
    display: table-cell;
}

.text-align-left{
    text-align: left;
}
.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}


.visibleOnCtrlKeyDown{
    display: none;
}
.ctrlKeyDown .visibleOnCtrlKeyDown{
    display: inline-block;
}

.expose-overlay {
    z-index: 9999;
    background: rgba(0,0,0,0.6);
}


dialog:not([open]) {
    display: none;
}


dialog[open] {
    display: block;
}
