*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

.filter-panel{
    opacity: .1;
    -webkit-transform: translateY(50px);
    -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
    -moz-transform: translateY(50px);
    -moz-transition: opacity 200ms ease, -webkit-transform 200ms ease;
    -ms-transform: translateY(50px);
    -ms-transition: opacity 200ms ease, -webkit-transform 200ms ease;
    transform: translateY(50px);
    transition: opacity 200ms ease, -webkit-transform 200ms ease;
}
.filter-panel-shown{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.filter-panel.pc{
    border: 1px solid #EEE;
    display: inline-block;
    position: fixed;
    box-shadow: 0px 0px 15px 0px #C2C2C2;
    top:150px;
    left: 150px;
    z-index: 3;
    background-color: #ffffff;
}
.filter-tabPanel{
    background: white;
    border: 1px solid #DDD;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.filter-panel.pc .reArrangeButton {
    float: right;
    background: blue;
    width: 24px;
    height: 24px;
}

.filter-panel.pc .filter-divHeader {
    padding: 15px;
    background: #3f4944;
    cursor: move;
    color: white;
    font-size: 20px;
}

.filter-panel.pc > table > tbody> tr:nth-child(2)> td{
    padding: 15px;
}
.filter-panel.pc > table > tbody> tr:nth-child(3)> td{
    padding: 5px;
}

.filter-container.pc {
    padding: 5px;
    margin-right: 10px;
}
.filter-container.pc .filter-display-name{
    padding: 3px;
}
.filter-container.pc .filter-button-panel{
    padding: 3px;
}
.filter-container.pc select {
    min-width: 150px;
}
.filter-container.pc .chosen-container {
    min-width: 150px;
}




.filter-button-panel.pc .filter-form-elements{
    position: relative;
}
.filter-container.pc .filter-form-elements{
    position: relative;
    margin-left: 35px;
}
.filter-container.pc .filter-form-elements::before {
    transition: all 300ms ease;
    content: '';
    visibility: hidden;
    opacity: 0;
    bottom: 10px;
    left: 42%;
    border-right: 7px solid rgba(0, 0, 255, 0);
    border-top: 7px solid #3f4944;
    border-left: 7px solid rgba(255, 255, 255, 0.00);
    position: absolute;
}
.filter-container.pc .filter-form-elements::after {
    transition: all 300ms ease;
    content: attr(title);
    visibility: hidden;
    width: 84%;
    opacity: 0;
    position: absolute;
    left: 2px;
    bottom: 10px;
    background-color: #3f4944;
    color: white;
    padding: 5px 10px;
    line-height: 14px;
    border-radius: 2px;
}
.filter-container.pc .filter-form-elements.showTitle::before {
    bottom: 23px;
    visibility: visible;
    opacity: 1;
}
.filter-container.pc .filter-form-elements.showTitle::after {
    bottom: 30px;
    visibility: visible;
    opacity: 1;
}

table.filter-table-main {
    width: 80%;
}

.filter-container.pc :is( select, input[type="search"], input[type="text"], input[type="date"], ul.chosen-choices, textarea, .chosen-container a){
    width: 100% !important;
    padding-inline-start: 2.5rem;
    padding: .425rem;
    border-width: 1px;
    border-radius: .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));

    outline: 2px solid transparent;
    outline-offset: 2px;
}
.filter-container.pc :is( select:focus, input:focus, input:focus, .chosen-container a:focus) {
    border-color: #1c64f2;
    --tw-border-opacity: 1;
    border-color: rgb(63 131 248 / var(--tw-border-opacity));
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #1c64f2;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}


body.pc .filter-tabPanel{
    /* background: #F5F5F5; */
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    margin: 0;
    padding-bottom: 25px;
    border: 1px solid #DDD;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 320px;
    transform: translateX(96%);
    transition: all 300ms ease-in-out;
    transition-delay: 500ms;
    overflow-y: auto;
    top: 60px;
    height: calc(100% - 64px);
    position: fixed;
}
body.pc .filter-tabPanel:hover{
    transition-delay: 100ms;
    transform: initial;
}
body.pc .filter-tabPanel .show-icon{
    width: 30px;
    height: 30px;
    /* background-color: #000000; */
    position: absolute;
    left: 4px;
    top: 44vh;
    z-index: 10;
    font-size: 2rem;
    color: inherit;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 300ms ease-in-out;
}
body.pc .filter-tabPanel:hover .show-icon{
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
}

table.filter-table-main tr {
    display: flex;
    flex-direction: column;
}


.filter-tabPanel .filter-heading {
    width: 90%;
    padding: 20px;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-left: 10px;
    --tw-border-opacity: 1;
    border-bottom: 1px solid rgb(229 231 235 / var(--tw-border-opacity));
}
.filter-tabPanel .filter-heading span {
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
    visibility: visible;
    opacity: 1;
    transition: all 100ms ease-in-out;
}
.filter-heading span i{
    color: #666;
}
.filter-tabPanel > .filter-container{
    display: block;
}
.filter-container.pc .filter-tabOptions{
    /*padding: 6px;*/
}


.filter-panel.mobile{
    display: block;
    position: fixed;
    box-shadow: 0px 0px 15px 0px #C2C2C2;
    top:0px;
    left: 0px;
    bottom:0px;
    right:0px;
    z-index: 3;
    background-color: #ffffff;
}
.filter-container.mobile {
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
}
.filter-container.mobile .filter-display-name{
    padding: 3px;
}
.filter-container.mobile .filter-button-panel{
    padding: 3px;
}
.filter-container.mobile .filter-divHeader {
    padding: 10px;
    background: #3f4944;
    cursor: move;
    color: white;
}
.filter-container.mobile .filter-tabOptions{
    /*padding: 6px;*/
}

.filter-container.mobile .ui-button-text-only .ui-button-text {
    padding: .1em .4em;
}

.filter-panel.mobile .filter-divHeader{
    padding: 10px;
    display: block;
    background: #3f4944;
    text-align: center;
    color: #FFF;
}
.filter-panel.mobile .filter-button-search{
    position: fixed;
    top: 0px;
    left: 0px;
}
.filter-panel.mobile .filter-button-clear{
    position: fixed;
    top: 0px;
    right: 75px;
}
.filter-panel.mobile .filter-button-cancel{
    position: fixed;
    top: 0px;
    right: 0px;
}
.filter-panel.mobile .filter-display-name{
    width: 100px;
}

body.mobile .filter-tabPanel{
    /*padding: 6px;*/
    background: white;
    margin: 5px 5px 0px 4px;
    border: 1px solid #DDD;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.filter-tabPanel > .filter-container{
    display: flex;
    justify-content: center;
}

.filter-panel.mobile .filter-container.mobile > table{
    width: 90%;
}
.filter-panel.mobile input[type="text"]{
    width: 92%;
}
.filter-panel.mobile select{
    width: 100%;
}
.filter-panel.mobile input[type="date"]{
    width: 100%;
}
.filter-panel.mobile .filter-table-main{
}

.filter-panel.mobile .filter-table-main td{
    display: block;
}

.filterImageContainer{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 4px;
    position: relative;
    top: 3px;
}



.filter-inlineTabFilterPanel table.filter-table-main {
    width: auto;
}

.filter-inlineTabFilterPanel table.filter-table-main tr {
    display: table-row;
}

.filter-tabOptions {
    display: inline-block;
    border: 1px solid #EEE;
    padding: 4px;
    border-radius: 5px;
}

.filter-tabOptions label {
    padding: 4px 6px;
    font-family: sans-serif;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.filter-tabOptions input {
    display: none;
}

.filter-tabOptions input:checked+label {
    border-bottom: 1px solid crimson;
}


body.pc .filter-tabPanel.no_filters_to_show{
    display: none !important;
}

.filter-inlineTabFilterPanel{
    margin-left: 35px;
    margin-top: 20px;
}

.filter-inlineTabFilterPanel .filter-container{
    display: inline-block;
    position: relative;
}

.filter-inlineTabFilterPanel .filter-display-name{
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 12px;
    /*display: none;*/
}

.filter-inlineTabFilterPanel .filter_type_tabFilter .filter-display-name{
    display: none;
}

.filter-inlineTabFilterPanel .filter-container .filter-form-elements{
    margin-left: 0;
}


