
/*------------------------------PC------------------------------*/

.formview-container.pc .table-main td{
    /*padding: 5px;*/
    padding: 2px 5px;
}
.chosen-container a{
    height: auto !important;
}
.formview-container.pc .table-main :is( select, input[type="search"], input[type="text"], input[type="date"], ul.chosen-choices, textarea, .chosen-container a){
    width: 100% !important;
    padding-inline-start: 2.5rem;
    padding: .425rem !important;
    border-width: 1px;
    border-radius: .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));

    outline: 2px solid transparent;
    outline-offset: 2px;
}
.formview-container.pc .table-main :is( select:focus, input:focus, input:focus, .chosen-container a:focus) {
    --tw-border-opacity: 1;
    border-color: rgb(63 131 248 / var(--tw-border-opacity));
    border-color: #30405193;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #1c64f2;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.formview-container.pc.formViewInline{
    position: relative;
    background-color: transparent;
    display: none;
    z-index: 99;
    padding: 10px;
}
.formViewInline .formview-close-button{
    display: none;
}
.formViewInline .formview-main{
    box-shadow: none;
}
.formview-container.pc{
    pointer-events: all;
    z-index: 100001;
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    background-color: rgba(25, 25, 25, 0.55);
    overflow: auto;
    height: 100%;
    width: 100%;
    text-align:center;
    -webkit-perspective: 1400px;
    -moz-perspective: 1400px;
    -ms-perspective: 1400px;
    perspective: 1400px;
    cursor: auto;
}
.formview-container.pc.form-view-in-direct-create{
    top: 0px;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    height: auto;
    padding: 10px;
}
.formview-container.pc.form-view-in-direct-create .formview-main{
    top: 0px;
}
.formview-container.pc .formview-draggable-header-in-direct-create{
    /*background: #ffffff !important;*/
    /*height: 33px !important;*/
    /*padding: 0px !important;*/
    /*border-bottom: 2px solid rgb(173, 173, 172) !important;*/
}
.formview-container.pc .formview-draggable-header{
    /*background: #5DABDF;*/
    /*background: #304051;*/
    /*color: #ffff;*/
    /*border-bottom: 1px solid #eeeeee;*/
    cursor: move;
    /*border-radius: 10px 10px 0 0;*/
    padding: 10px;
}
.formview-container.pc .formview-draggable-header .button-panel{
    background: transparent;
    box-shadow: none;
    border: none;
}
.formview-container.pc .formview-main-in-direct-create{
    max-width: 100% !important;
    /*width: 75% !important;*/
    /*background-color: rgba(177, 177, 177, 0.98) !important;*/
}
.formview-container.pc .formview-main{
    position: relative;
    display: inline-block;
    margin: auto;
    padding-bottom: 5px;
    border-radius: 10px;
    top: 50px;
    /*left: 96px;*/
    text-align: center;
    background-color: #FFFFFF;
    /* border: 1px solid #9B9797; */
    /*box-shadow: 1px 1px 12px 4px #A2A2A2;*/
    /*overflow: hidden;*/
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.formview-container.pc .formview-main.formview-width-small{
    width: 55%;
}
.formview-container.pc .formview-main.formview-width-medium{
    width: 68%;
}
.formview-container.pc .formview-main.formview-width-large{
    width: 80%;
}
.formview-container.pc .formview-main.formview-width-xLarge{
    width: 95%;
}
.formview-container.pc.stackedView{

}

.formview-container.pc.stackedView .formview-main{
    width: 48%;
    pointer-events: all;
}
.formview-container.pc.stackedView.parent .formview-main{
    float: left;
    margin-left: 10px;
}
.formview-container.pc.stackedView.child{
    pointer-events: none;
    background-color: transparent;
}
.formview-container.pc.stackedView.child .formview-main{
    float: right;
    margin-right: 10px;
}
.formview-container.pc * {
    box-sizing: border-box;
}
.formview-container.pc .formview-main table{
    width:100%;
}
.formview-container.pc .formview-main .formview-header-table td:nth-child(1){
    width: 60%;
}
.formview-container.pc .formview-main .formview-header-table td:nth-child(2){
    width: 35%;
}
.formview-container.pc .formview-main .formview-header-table td:nth-child(3){
    width: 5%;
}
.formview-container.pc .formview-container.pc input[type="submit"]{
    display: none;
}
.formview-container.pc.formview-main-edit .formview-create, .formview-container.pc.formview-main-edit .formview-view{
    display:none
}
.formview-container.pc.formview-main-create .formview-edit, .formview-container.pc.formview-main-create .formview-view{
    display:none
}
.formview-container.pc.formview-main-view .formview-create, .formview-container.pc.formview-main-view .formview-edit{
    display:none
}
.formview-container.pc.formview-main-view .formview-save-panel{
    display: none;
}
.formview-container.pc .formview-main .mandatory-field span:after{
    color: rgb(228, 108, 108);
    content: '*';
    position: absolute;
    margin-left: 3px;
}
.formview-container.pc .formview-column-holder{
    position: relative;
    padding: 7px;
    vertical-align: middle;
    min-width: 200px;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    opacity: 1;
}


.formview-container.pc .formview-column-holder .quickAddButton{
    background: url(/images/quickAdd.png);
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: .5;
    background-size: contain;
    vertical-align: bottom;
    margin-left: 4px;
}
.formview-container.pc .formview-column-holder .quickAddButton:hover{
    opacity: 1;
}
.formview-container.pc.smallQuickAddView .formview-column-holder .quickAddButton{
    display: none;
}





.formview-container.pc .formview-column-holder .showFilterableViewButton{
    background: url(/images/filterableView.png);
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: .5;
    background-size: contain;
    vertical-align: bottom;
    margin-left: 4px;
}
.formview-container.pc .formview-column-holder .showFilterableViewButton:hover{
    opacity: 1;
}
.formview-container.pc.smallQuickAddView .formview-column-holder .showFilterableViewButton{
    display: none;
}






.formview-container.pc .formview-column-holder.formViewColumnFadeOut{
    opacity: .5;
}
.formview-container.pc .formview-column-display-name-indirect-create{
    width: 150px !important;
}
.formview-container.pc .formview-column-display-name{
    position: relative;
    width: 100px;
    max-width: 100px;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 300;
    color: rgb(0 0 0);
    font-size: 14px;
}

.formview-container.pc .formview-column-display-name{
    display: block;
    width: auto;
    max-width: 500px;
}
.formview-container.pc .formview-column-display-name.hyperlinkColumn{
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 30px;
    font-weight: bold;
}
.formview-container.pc .formview-column-display-name > div{
    /* padding-bottom: 8px; */
}
.formview-container.pc .formview-column-form-elements{
    display: block;
}

.formview-container.pc .formview-column-display-name .expandButton{
    display: inline-block;
    padding: 0px 4px;
    cursor: pointer;
}

.formview-container.pc .formview-column-elements-holder{
    width: 98%;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
}
.formview-container.pc .formview-column-elements-holder img{
    max-height: 100px;
}
.formview-container.pc .formview-column-display-value{
    width: 95%;
    padding-left: 0px;
    text-align: left;
    vertical-align: middle;
    word-break: break-all;
}
/*.chosen-container{*/
/*width: 370px !important;*/
/*}*/

.formview-container.pc .formview-main .formView-disabled-column {
    padding: 4px 2px;
}

.formview-container.pc  .formview-main .formview-column-elements-holder > div > input[type=text], .formview-main .formview-column-elements-holder > div > input[type=password], .formview-main .formview-column-elements-holder > div > input[type=datetime-local], .formview-main .formview-column-elements-holder > div > input[type=date], .formview-main .formview-column-elements-holder > div > input[type=time], .formview-main .formview-column-elements-holder > div > input[type=number],
.formview-container.pc  .formview-main .formview-column-elements-holder > div > select,  .formview-main .formview-column-elements-holder > div > textarea, .formview-main .formview-column-elements-holder > div > input[type=tel], .formview-main .formview-column-elements-holder > div > input[type=email]{
    font-size: 100%;
    padding: 3px;
    width: 91.7%;
    font-family: inherit;
    padding-left: 8px;
}
.formview-container.pc  .formview-main .formview-column-elements-holder > div > input[type=number], .formview-container.pc  .formview-main .formview-column-elements-holder > div > input[type="text"].setNumericElement{
    font-size: 100%;
    padding: 3px 0px;
    width: 60%;
    font-family: inherit;
    padding-left: 8px;
}
.formview-container.pc .formview-main .formview-column-elements-holder > div > input[readonly] {
    border: none;
    background-color: transparent;
}
/*.formview-main input[type=date],.formview-main input[type=time],*/
/*.formview-main input[type=number]{*/
/*font-size: 100%;*/
/*padding: 3px;*/
/*width: 49.7%;*/
/*font-family: inherit;*/
/*}*/
.formview-container.pc  .formview-main td[colspan="2"] .formview-column-elements-holder > div >  input[type=text],  .formview-main td[colspan="2"] .formview-column-elements-holder > div >  input[type=password],
.formview-container.pc  .formview-main td[colspan="2"] .formview-column-elements-holder > div >  input[type=number],  .formview-main td[colspan="2"] .formview-column-elements-holder > div >  select,  .formview-main td[colspan="2"] .formview-column-elements-holder > div >  textarea{
    padding: 3px;
    width: 100%;
    font-size: 100%;
}
.formview-container.pc .formview-main input[type=text][disabled],.formview-main input[type=password][disabled],.formview-main input[type=number][disabled],
.formview-container.pc .formview-main select[disabled], .formview-main textarea[disabled]{
    -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    appearance: button;
    border: none;
    background: none;
    font-size: 100%;
    color: #000;
}
.formview-container.pc .formview-main textarea{
    font-size: 100%;
    padding: 3px;
    width: 91.37%;
    resize: vertical;
}
.formview-container.pc td[data-position][colspan="3"]>.formview-column-holder textarea{
    width: 100%;
}


.formview-container.pc .formview-save-panel{
    text-align: right;
    padding-right: 50px;
}
.formview-container.pc .formview-save-panel .removeSmallQuickAddView{
    float: left;
    padding: 10px;
    cursor: pointer;
    display: none;
}
.formview-container.pc .button-panel{
    background: #ffffff;
    /*padding: 10px;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.formview-container.pc .formview-main .button-panel{
    padding: 0px;
    text-align: right;
    padding-right: 50px;
}
.formview-container.pc .formview-close-button{
    cursor: pointer;
    border-radius: 3px;
    padding: 4px 4px;
    font-size: 20px;
    width: 20px;
}
.formview-container.pc .formview-close-button:hover{
    /* background: #F0F0F0; */
    /* color: #333; */
}
.formview-container.pc .formview-header-text-panel-in-direct-create{
    font-size: 27px !important;
    color: #585555 !important;
}
.formview-container.pc .formview-header-text-panel{
    font-size: 25px;
    /*color: #ffffff;*/
    font-weight: 500;
    padding-left: 10px;
    text-align: left;
}
.formview-container.pc .formView-main .formView-subForm_create{
    min-height: 20px;
    cursor: pointer;
}



.formview-container.pc .table-main{
    /*padding: 10px;*/
}
.formview-container.pc .table-main > tr:nth-child(odd) > td{
    /*border: 1px solid #F2F2F2;*/
}
.formview-container.pc .table-main > tr:nth-child(even){
    background: #FAFAFA;
}
.formview-container.pc .table-main-in-direct-create> tr:nth-child(even){
    /*background: rgba(177, 177, 177, 0.98) !important;*/
}
.formview-container.pc .table-main > tr > td{
    vertical-align: middle;
    /*width: 50%;*/
    /*border: 1px solid #eee;*/
    vertical-align: top;
}

.formview-container.pc .formViewImageContainer{
    width: 29px;
    height: 26px;
    float: left;
    margin-top: -6px;
    margin-right: 14px;
    margin-left: -8px;
    position: relative;
    top: 11px;
}

.formview-container.pc .formViewHyperLinkImageContainer{
    width: 26px;
    height: 21px;
    float: left;
    margin-top: -6px;
    position: relative;
    top: 4px;
    margin-left: 26px;
    margin-right: 8px;
}


/*------------------------------PC Small Quick Add View------------------------------*/
.formview-container.pc.smallQuickAddView{
    z-index: 100002 !important;
    background-color: rgba(25, 25, 25, 0.1);
}
.formview-container.pc.smallQuickAddView .formview-main{
    min-width: 100px;
}
.formview-container.pc.smallQuickAddView .formview-header-text-panel{
    font-size: 20px;
}
.formview-container.pc.smallQuickAddView .hideOnSmallQuickAddView{
    display: none;
}
.formview-container.pc .pointerOnTopElement, .formview-container.pc .pointerCoverOnTopElement,  .pointerOnBottomElement.pc .pointerOnBottomElement,  .formview-container.pc .pointerCoverOnBottomElement{
    display: none;
}
.formview-container.pc.smallQuickAddView .pointerOnTop .pointerOnTopElement{
    left: 50px;
    width: 20px;
    display: inline-block;
    height: 20px;
    position: absolute;
    background: white;
    top: -10px;
    border: 1px solid #999;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.formview-container.pc.smallQuickAddView .pointerOnTop .pointerCoverOnTopElement{
    left: 45px;
    width: 30px;
    height: 15px;
    display: inline-block;
    position: absolute;
    background: rgb(255, 255, 255);
    top: 0px;
}
.formview-container.pc.smallQuickAddView .pointerOnBottom .pointerOnBottomElement{
    left: 50px;
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    background: white;
    bottom: -10px;
    border: 1px solid #999;
    -webkit-transform: rotate(45deg);
}
.formview-container.pc.smallQuickAddView .pointerOnBottom .pointerCoverOnBottomElement{
    left: 45px;
    width: 30px;
    height: 15px;
    display: inline-block;
    position: absolute;
    background: rgb(255, 255, 255);
    bottom: 0px;
}
.formview-container.pc.smallQuickAddView .formview-save-panel .removeSmallQuickAddView{
    display: inline-block;
}
.formview-container.pc .barcodeInput{
    position: absolute;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.formview-container.pc .barcodeScanningRadar{
    position: absolute;
    top: 15px;
    right: 100px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 0px 2px 1px white;
    transition: all .5s;

}

.formview-container.pc .barcodeScanningRadarInMotion{
    background: rgb(61, 126, 61);
    -webkit-animation: radar 1s infinite;
}

@-webkit-keyframes radar{
    20% {box-shadow: 0px 0px 2px 1px rgb(61, 126, 61);}
    40% {box-shadow: 0px 0px 2px 2px rgb(61, 126, 61);}
    60% {box-shadow: 0px 0px 2px 3px rgb(61, 126, 61);}
    80% {box-shadow: 0px 0px 2px 2px rgb(61, 126, 61);}
    100% {box-shadow: 0px 0px 2px 1px rgb(61, 126, 61);}
}















.formview-container.pc .filterableViewContainer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #3333333b;
    /* border: 1px solid #AAA; */
    /* margin: 0 auto; */
    display: none;
}


.formview-container.pc .filterableViewContainer .filterableViewMain{
    display: inline-block;
    min-width: 80vw;
    min-height: 70vh;
    /* max-height: 80vh; */
    margin-top: 10px;
    max-width: 1000px;
    background: white;
    border: 1px solid #AAA;
    position: relative;
}

.formview-container.pc .filterableViewContainer .filterableViewHeader {
    padding: 10px;
    text-align: left;
}

.formview-container.pc .filterableViewContainer .filterableViewHeaderDisplayName {
    font-size: 20px;
}

.formview-container.pc .filterableViewContainer .filterableViewButtonPanel {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 6px 10px;
    background: white;
}



.filterableViewFilterElementDisplayName {
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    vertical-align: middle;
    min-width: 120px;
}

ul.filterableViewFilterElementActualElement {
    display: inline-block;
    padding: 5px;
    white-space: nowrap;
    overflow: auto;
    width: calc(100% - 120px);
    vertical-align: top;
}

.filterableViewFilterElementWrapper {
    display: block;
    text-align: left;
    vertical-align: top;
}

filterableViewFilterElementActualElement {
    display: block;
}

.filterableViewFilterElementActualElement li {
    display: inline-block;
}

.filterableViewFilterElementActualElement label {
    display: inline-block;
    max-width: 125px;
    white-space: normal;
    vertical-align: top;
    min-height: 15px;
    margin-top: 3px;
    margin-right: 5px;
}


.formview-container.pc .filterableViewContainer .filterableViewResultsTableMain thead th,
.formview-container.pc .filterableViewContainer .filterableViewResultsTableMain thead td {
    border-bottom: 1px solid #e8e8e8;
}


.formview-container.pc .filterableViewContainer .filterableViewResultsTableMain tfoot th,
.formview-container.pc .filterableViewContainer .filterableViewResultsTableMain tfoot td {
    border-top: 1px solid #e8e8e8;
}

.formview-container.pc .filterableViewContainer .filterableViewResultsTableMain.dataTable.no-footer{
    border-bottom:  1px solid #e8e8e8;
}

.formview-container.pc .filterableViewContainer .filterableViewResultsTableMain td.select-checkbox {
    color: transparent;
    /* font-size: 10px; */
}


.filterableViewResults {
    margin: 5px;
    border: 1px solid #b6b6b6;
    background: white;
    padding: 3px;
    max-height: 80vh;
    margin-bottom: 55px;
    overflow: auto;
}

.filterableViewFilters {
    background: #607d8b0a;
    padding: 5px 0px;
    /*margin: 8px 0px;*/
}


.filterableViewResults select {
    padding: 1px;
}






















/*------------------------------Mobile------------------------------*/


.formview-container.mobile.formViewInline{
    position: relative;
    background-color: transparent;
    display: none;
    z-index: 99;
}
.formViewInline .formview-close-button{
    display: none;
}
.formViewInline .formview-main{
    box-shadow: none;
}
.formview-container.mobile{
    pointer-events: all;
    z-index: 100001;
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    background-color: transparent;
    overflow: auto;
    height: 100%;
    width: 100%;
    text-align:center;
    -webkit-perspective: 1400px;
    -moz-perspective: 1400px;
    -ms-perspective: 1400px;
    perspective: 1400px;
}
.formview-container.mobile .formview-draggable-header{
    background: #3f4944;
    border-bottom: 1px solid #eeeeee;
    height: 25px;
    border-radius: 0px;
    padding: 5px;
}
.formview-container.mobile .formview-header-text-panel{
    font-size: 15px;
    color: #FFF;
    padding-left: 10px;
}
.formview-container.mobile .formview-draggable-header .button-panel{
    background: transparent;
    box-shadow: none;
    border: none;
}
.formview-container.mobile .formview-main{
    text-align: center;
    background-color: #FFFFFF;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-x: auto;
    overflow-y: auto;
}

.formview-container.mobile .formview-main table{
    width:100%;
}
.formview-container.mobile .formview-main .formview-header-table{
    padding-left: 50px;
}
.formview-container.mobile .formview-main .formview-header-table td:nth-child(1){
    width: 40%;
}
.formview-container.mobile .formview-main .formview-header-table td:nth-child(2){
    width: 55%;
}
.formview-container.mobile .formview-main .formview-header-table td:nth-child(3){
    width: 5%;
}
.formview-container.mobile .formview-container.mobile input[type="submit"]{
    display: none;
}

.formview-container.mobile.formview-main-edit .formview-create, .formview-container.mobile.formview-main-edit .formview-view{
    display:none
}
.formview-container.mobile.formview-main-create .formview-edit, .formview-container.mobile.formview-main-create .formview-view{
    display:none
}
.formview-container.mobile.formview-main-view .formview-create, .formview-container.mobile.formview-main-view .formview-edit{
    display:none
}
.formview-container.mobile{
    font-size: 14px;
}

.formview-container.mobile.formview-main-view .formview-save-panel{
    display: none;
}
.formview-container.mobile .formview-main .mandatory-field span:after{
    color: rgb(228, 108, 108);
    content: '*';
    position: absolute;
    margin-left: 3px;
}
.formview-container.mobile .formview-column-holder{
    position: relative;
    padding: 7px;
    vertical-align: middle;
    /*min-width: 300px;*/
}
.formview-container.mobile .formview-column-display-name{
    position: relative;
    width: 100px;
    max-width: 100px;;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
}
.formview-container.mobile .formview-column-elements-holder{
    width: 95%;
    padding-top: 3px;
    text-align: left;
    vertical-align: middle;
}
.formview-container.mobile .formview-column-display-value{
    width: 95%;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
}

/*----------NEed to fix this------------------------*/

/*.formview-container.mobile .formview-main input[type=text],.formview-main input[type=password],.formview-main input[type=datetime-local],.formview-main input[type=date],.formview-main input[type=time],.formview-main input[type=number],*/
/*.formview-container.mobile .formview-main select, .formview-main textarea{*/
/*font-size: 100%;*/
/*padding: 3px;*/
/*width: 93%;*/
/*font-family: inherit;*/
/*}*/
/*.formview-container.mobile .formview-main td[colspan="2"] input[type=text], .formview-main td[colspan="2"] input[type=password],*/
/*.formview-container.mobile .formview-main td[colspan="2"] input[type=number], .formview-main td[colspan="2"] select, .formview-main td[colspan="2"] textarea{*/
/*padding: 3px;*/
/*width: 100%;*/
/*font-size: 100%;*/
/*}*/
.formview-container.mobile .formview-main input[type=text][disabled],.formview-main input[type=password][disabled],.formview-main input[type=number][disabled],
.formview-container.mobile .formview-main select[disabled], .formview-main textarea[disabled]{
    -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    appearance: button;
    border: none;
    background: none;
    font-size: 100%;
    color: #000;
}
.formview-container.mobile .formview-main input[type="text"]{
    width: 70%;
}
.formview-container.mobile .formview-main select{
    width: 72%;
}
.formview-container.mobile .formview-main input[type="date"]{
    width: 70%;
}
.formview-container.mobile .formview-main .formview-column-elements-holder > div > input[readonly] {
    border: none;
    background-color: transparent;
}
.formview-container.mobile .formview-main textarea{
    font-size: 100%;
    padding: 3px;
    width: 95%;
    resize: vertical;
}

.formview-container.mobile .button-panel{
    background: #ffffff;
    /*padding: 10px;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.formview-container.mobile .formview-main .button-panel{
    padding: 0px;
    text-align: right;
    padding-right: 50px;
}
.formview-container.mobile .formview-close-button{
    cursor: pointer;
    border-radius: 3px;
    padding: 4px 6px;
    width: 10px;
    color: #FFF;
}
.formview-container.mobile .formview-close-button:hover{
    background: #FFF;
    color: #333;
}

.formview-container.mobile .formViewImageContainer{
    width: 25px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.formview-container.mobile .formViewHyperLinkImageContainer{
    width: 26px;
    height: 21px;
    float: left;
    margin-top: -6px;
    position: relative;
    top: 4px;
    margin-left: 26px;
    margin-right: 8px;
}

.formview-container.mobile .formview-column-form-elements{
    display: block;
    padding-left: 30px;
}
.formview-container.mobile .formview-column-display-name{
    position: relative;
    width: 100px;
    max-width: 100px;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: bold;
    color: rgb(106, 108, 129);
}

.formview-container.mobile .formview-column-display-name{
    display: block;
    width: auto;
    max-width: 500px;
    padding-left: 30px;
}

.formview-container.mobile .formView-main .formView-subForm_create{
    min-height: 20px;
    cursor: pointer;
}

.formview-container.mobile .formview-save-button{
    margin-right: 10px;
}
.formview-container.mobile .formview-cancel-button{
    margin-right: 5px;
}
.formview-container.mobile .formview-save-panel{
    text-align: center;
    position: fixed;
    top: 3px;
    right: 5px;
}
.formview-container.mobile .formview-save-panel .removeSmallQuickAddView{
    float: left;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.formview-container.mobile .table-main{
    padding: 3px;
}
.formview-container.mobile .table-main > tr:nth-child(odd) > td{
    /*border: 1px solid #F2F2F2;*/
}
.formview-container.mobile .table-main > tr:nth-child(even){
    background: #FAFAFA;
}
.formview-container.mobile .table-main > tr > td{
    vertical-align: middle;
    /*border: 1px solid #eee;*/
}













/* Aki Multiple selection value */

ul.multipleSelectionDisplayValueList {
    display: block;
    max-height: 10vh;
    overflow: auto;
    position: relative;
    z-index: 6;
    padding-bottom: 4px;
}

ul.multipleSelectionDisplayValueList[data-items-count]:before {
    content: attr(data-items-count) " Items";
    font-size: 10px;
    text-align: right;
    display: block;
    padding-right: 5px;
    padding-bottom: 2px;
    opacity: 0.75;
}




/* ----- aki v2 with new ui hybrid */


.table-main {
    display: block;
}

.table-main td.form_view_table_cell{
    display: inline-block;
    position: relative;
    border: 1px solid transparent;
}



.styling_mode .table-main .form_view_table_cell .formview-column-display-name {
    cursor: move;
}
.styling_mode .table-main .form_view_table_cell{
    overflow: visible;
    user-select: none;
}
.styling_mode .table-main td.form_view_table_cell {
    border: 1px dotted #3333331a;
    min-width: 50px;
    min-height: 50px;
    /*position: relative;*/
}

.table-main td.form_view_table_cell:empty:after {
    content: '-';
    display: block;
    min-height: 80px;
    min-width: 100px;
    opacity: 0;
}

.styling_mode .table-main tr {
    display: block;
    text-align: left;
}

.formview-container.pc.full_size .formview-main {
    left: 0;
    top: 0;
    width: calc(100vw - var(--main_navigation_width)) !important;
    border-radius: 0;
    height: 100vh;
    overflow-y: auto !important;
}

.formview-container.pc #div_main {
    overflow: hidden;
}

.formview-container.pc.full_size {
    padding-left: var(--main_navigation_width);
    overflow: hidden;
}

.formview-container.pc .formview-main tr {
    text-align: left;
    white-space: nowrap;
}


.formview-container.pc .formview-save-panel .styling_mode_button_panel{
    text-align: center;
    display: none;
}


.styling_mode .formview-save-panel > button {
    display: none;
}

.styling_mode .formview-draggable-header #formview_close {
    display: none;
}

.formview-container.pc.styling_mode .formview-save-panel > .styling_mode_button_panel {
    display: block;
}

.formview-container.pc .formview-main tr.without_children_column {
    display: none;
}
.formview-container.pc.styling_mode .formview-main tr.without_children_column {
    display: block;
}

.formview-container.pc.full_size .formview-save-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 15px;
}

.formview-container.pc .formview-column-holder{
    min-height: 80px;
}
.formview-container.pc{
    font-family: Inter, sans-serif;
}

.formview-container.pc i.fa.fa-close {
    font-family: 'Font Awesome 6 Free' !important;
}