.graph-container{
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(203, 203, 203, 0.45);
    /* position: relative; */
    margin: 12px;
    border-radius: 2px;
    box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
}
.graph-container .mainContainer{
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
}
.graph-divHeader {
    padding: 12px 0px;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.graph-btnExportToImage{
    position: absolute;
    left: 10px;
    top: 0px;
    background-image: url(pic/download.png);
    width: 35px;
    height: 35px;
    background-size: contain;
    margin-right: 10px;
    cursor: pointer;
    opacity: .2;
}
.graph-container:hover .graph-btnExportToImage{
    opacity: 1;
}

.divHandle {
    cursor: move;
    height: 50px;
}
.graph-spanDisplayName {
    pointer-events: none;
    position: absolute;
    right: 10px;
    font-size: 20px;
}
.graph-divContent {
    /*padding: 12px;*/
    /*overflow: auto;*/
    overflow: hidden;
    min-height: 300px;
    min-width: 500px;
    height: 100%;
}
.graph-divContent > div{
    width: 100%;
    height: 100%;
}
.graph-spanTextContext {

}
.graph-spanQueryContext {

}

.graph-container.mobile {
    display: block;
    position: relative;
    margin: 12px 3px;
}
.graph-container.mobile .graph-divContent {
    min-width: 100%;
}


.graph-container .floatingLabel{
    position: absolute;
    background: red;
    color: white;
    opacity: .7;
    padding: 5px;
    border-radius: 3px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
