.grid-container.pc{
    /* background: #F5F5F5;
    background: #fafafb; */
    /*height: 100%;*/
    /*overflow: auto;*/
    /*padding: 10px;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin: 10px;
    margin: 5px auto;
    max-width: 80vw;
    /*padding: 15px;*/
    border-radius: 10px;
    overflow-x: auto;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #dbdbdb;
    min-height: 75%;
    max-height: calc(100vh - 150px);
    transition: all 100ms ease-in-out;
}

.expand .grid-container.pc{
    max-width: 90vw;
}
.meter {
    height: 20px;  /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    -ms-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.grid-container.pc .grid-main{
    /* padding: 4px 0px; */
    /*border-radius: 5px;*/
    /*  border: 1px solid rgba(195, 195, 195, 0.65);
      background-color: rgb(234, 247, 255);
      -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
      -ms-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      box-shadow: 0 2px 4px rgba(0, 0, 0, .5);*/
    /* margin: 5px; */
    /*
    background: -moz-linear-gradient(top, #cae9f4 0%, #cae9f4 40%,rgba(48, 138, 200, 0.39) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cae9f4), color-stop(40%, #cae9f4), color-stop(100%, rgba(48, 138, 200, 0.39)));
    background: -webkit-linear-gradient(top, #cae9f4 0%, #cae9f4 40%, rgba(48, 138, 200, 0.39) 100%);
    background: -o-linear-gradient(top, #cae9f4 0%, #cae9f4 40%, rgba(48, 138, 200, 0.39) 100%);
    background: -ms-linear-gradient(top, #cae9f4 0%, #cae9f4 40%, rgba(48, 138, 200, 0.39) 100%);
    background: linear-gradient(to bottom, rgba(175, 184, 189, 0.88) 0%, rgba(188, 197, 202, 0.54) 40%, #acb5ba 100%);*/
}
.grid-container.pc #grid{
    border-top: 1px solid rgb(195 195 195 / 21%);
    width: 100%;
    padding: 10px;
    padding: 5px 0px;
}
.grid-container.pc #grid > tbody > tr:hover td{
    background: rgba(221, 221, 221, 0.80);
    color: #69666b;
}
.grid-container.pc #grid > thead {
    /*background: #7f878c;*/
    border-radius: 5px;
    /*border: 3px solid #525252;*/
}
.grid-container.pc #grid > thead .th-group{
    border-bottom: 1px solid black;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2px;
}
.grid-container.pc #grid > thead > tr > th{
    padding: 3px 3px;
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity)); 
    /* border-bottom: 2px solid rgba(195, 195, 195, 0.65);
    border-right: 1px solid rgba(195, 195, 195, 0.20); */
    font-weight: bold;
}
.grid-container.pc #grid > thead > tr > th{
    text-align: left;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1rem;
    padding: 1rem 1.5rem;
}
.grid-container.pc #grid > tbody > tr > td{
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    /*padding: 1rem 1.5rem;*/
    padding: 1rem 0.6rem;
    border-top: 1px solid rgb(195 195 195 / 42%);
    border-right: 1px solid rgb(195 195 195 / 6%);
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.grid-container.pc #grid > thead > tr > th[data-column-max-width="small"] > div{
    max-width: 50px;
}
.grid-container.pc #grid > tbody > tr > td[data-column-max-width="small"] > div{
    max-width: 50px;
}

.grid-container.pc #grid > thead > tr > th[data-column-max-width="medium"] > div{
    max-width: 90px;
}
.grid-container.pc #grid > tbody > tr > td[data-column-max-width="medium"] > div{
    max-width: 90px;
}

.grid-container.pc #grid > thead > tr > th[data-column-max-width="large"] > div{
    max-width: 145px;
}
.grid-container.pc #grid > tbody > tr > td[data-column-max-width="large"] > div{
    max-width: 145px;
}

.grid-container.pc #grid > thead > tr > th[data-column-max-width="xLarge"] > div{
    max-width: 250px;
}
.grid-container.pc #grid > tbody > tr > td[data-column-max-width="xLarge"] > div{
    max-width: 250px;
}

.grid-container.pc #grid > tfoot > tr:first-child > th{
    border-top: 2px solid rgba(206, 189, 189, 1);
}
.grid-container.pc #grid > tfoot > tr > th{
    padding: 3px 6px;
}
.grid-container.pc #grid > tbody > tr:nth-child(even){
    /*background-color: #acb5ba;*/
}
.grid-container.pc #grid > tbody > tr:nth-child(even){
    /*background-color: #faf9f0;*/
}
.grid-container.pc #grid > tbody > tr.selected{
    background: rgba(52, 136, 234, 0.25);
    border: 1px solid #9CB9F0;
}
.grid-container.pc #grid .grid-header-text-sortable{
    /*display:inline-block;*/
    /*min-width: 50px;*/
    cursor: pointer;
    position: relative;
}
.grid-container.pc #grid .grid-header-text-sortable.sorted-desc:after{
    content: '↓';
    position: absolute;
    left: -3px;
    top: 10%;
}
.grid-container.pc #grid .grid-header-text-sortable.sorted-asc:after{
    content: ' ↑';
    position: absolute;
    left: -5px;
    top: 10%;
}
.grid-container.pc .grid-no-data-message-row{
    text-align: center;
}
.grid-container.pc #grid > tbody a{
    text-decoration: underline;
    cursor: pointer;
}
.grid-container.pc #grid > tbody .gridViewEditInDisplayElement{
    /*-webkit-transition: opacity 300ms ease;*/
    /*opacity: 1;*/
}
.grid-container.pc #grid > tbody .gridViewEditInDisplayElement.loading{
    /*opacity: .5;*/
    /*pointer-events: none;*/
}

.grid-container.pc #grid .gridDataRowCellElement{
    position: relative;
}
.grid-container.pc #grid .lookUpViewModeShortCut{
    display: none;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background-size: contain;
    opacity: .5;
    position: absolute;
    right: 10px;
    background-image: url(/images/open.png)
}

.grid-container.pc #grid .gridDataRowCellElement:hover .lookUpViewModeShortCut{
    display: inline-block;
}
.grid-container.pc #grid .lookUpViewModeShortCut:hover{
    opacity: 1;
}

.grid-container.pc #grid .googleMapLink{
    display: none;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background-size: contain;
    opacity: .5;
    position: absolute;
    right: 10px;
    background-image: url(/images/mapMarker.png)
}

.grid-container.pc #grid .gridDataRowCellElement:hover .googleMapLink{
    display: inline-block;
}
.grid-container.pc #grid .googleMapLink:hover{
    opacity: 1;
}


/*body.largeFontSize .grid-container.pc #grid .grid-header-text-sortable{*/
/*font-size: 16px;*/
/*}*/
/*body.largeFontSize .grid-container.pc #grid > tbody .grid-data-item{*/
/*font-size: 16px;*/
/*}*/
/*body.mediumFontSize .grid-container.pc #grid .grid-header-text-sortable{*/
/*font-size: 14px;*/
/*}*/
/*body.mediumFontSize .grid-container.pc #grid > tbody .grid-data-item{*/
/*font-size: 14px;*/
/*}*/
/*body.smallFontSize .grid-container.pc #grid .grid-header-text-sortable{*/
/*font-size: 12px;*/
/*}*/
/*body.smallFontSize .grid-container.pc #grid > tbody .grid-data-item{*/
/*font-size: 12px;*/
/*}*/




.grid-container.mobile{
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin: 5px;
    font-size: 11px;
    max-width: 98vw;
    overflow: auto;
}
.grid-container.mobile .grid-main{
    padding: 4px 0px;
    margin: 5px;
}
.grid-container.mobile #grid{
    border-top: 1px solid rgba(195, 195, 195, 0.65);
    width: 100%;
    padding: 10px 0px;
}
.grid-container.mobile #grid > tbody > tr:hover td{
    background: rgba(221, 221, 221, 0.80);
    color: #69666b;
}
.grid-container.mobile #grid > thead {
    /*background: #7f878c;*/
    border-radius: 5px;
    border: 2px solid #525252;
}
.grid-container.mobile #grid > thead .th-group{
    border-bottom: 1px solid black;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2px;
}
.grid-container.mobile #grid > thead > tr > th{
    padding: 3px 2px;
    border-bottom: 3px solid rgba(195, 195, 195, 0.65);
    font-weight: bold;
}
.grid-container.mobile #grid > tbody > tr > td{
    padding: 4px 2px;
    border-top: 1px solid rgba(195, 195, 195, 0.65);
    /*border-right: 1px solid rgba(195, 195, 195, 0.65);*/

}
.grid-container.mobile #grid > tfoot > tr:first-child > th{
    border-top: 2px solid rgba(206, 189, 189, 1);
}
.grid-container.mobile #grid > tfoot > tr > th{
    padding: 4px 0px;
}
.grid-container.mobile #grid > tbody > tr:nth-child(even){
    /*background-color: #acb5ba;*/
}
.grid-container.mobile #grid > tbody > tr:nth-child(even){
    /*background-color: #faf9f0;*/
}
.grid-container.mobile #grid .grid-header-text-sortable{
    /*display:inline-block;*/
    min-width: 25px;
    cursor: pointer;
}
.grid-container.mobile #grid .grid-header-text-sortable.sorted-desc:after{
    content: ' ↓';
}
.grid-container.mobile #grid .grid-header-text-sortable.sorted-asc:after{
    content: ' ↑';
}
.grid-container.mobile #grid > tbody a{
    text-decoration: underline;
    cursor: pointer;
}
.grid-container.mobile .grid-no-data-message-row{
    text-align: center;
}

.addEffectsToEditedColumn{
    background: rgba(34, 161, 245, 0.58);
}

.change-grid-data-color{
    color: rgba(245, 245, 245, 0) !important;
}

.gridHeadImageContainer{
    width: 25px;
    height: 25px;
    /* float: left; */
    margin-top: -8px;
    margin-right: 7px;
    display: none;
}

.gridHeadSpan{
    /*float: left;*/
    display: block;
}

.grid-container.pc #grid .gridDataRowCellElement .grid-data-item p em{
    font-style: italic;
}
.grid-container.pc #grid .gridDataRowCellElement .grid-data-item p strong{
    font-weight: bold;
}
.grid-container.pc #grid .gridDataRowCellElement .grid-data-item ul, .grid-container.pc #grid .gridDataRowCellElement .grid-data-item ol{
    list-style: inherit;
    margin-left: 16px;
}

.columnChooserContainer{
    max-width: 91%;
    min-width: 52%;
    min-height: 17%;
    position: fixed;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    background: white;
    box-shadow: 0px 0px 4px 1px #898B89;
    text-align: center;
    padding-top: 1.5%;
    padding: 0;
    border: 0;
    padding-bottom: 10px;
}

.columnChooserContainer[open]{
    -webkit-animation: testing 300ms;
    -webkit-animation-delay: 0ms;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes testing{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



.columnChooserContainer .titleContainer{
    display: inline-block;
    width: 98%;
    padding-top: 1%;
    padding-bottom: 25px;
    text-align: left;
}
.columnChooserContainer .titleContainer .title{
    font-size: 30px;
    font-weight: 500;
}

.columnChooserContainer .headingColumnContainer{
    display: inline-block;
    width: 97%;
    padding-top: 0px;
    padding-bottom: 17px;
    text-align: left;
}
.columnChooserContainer .headingColumnText{
    display: inline-block;
    font-size: 17px;
    padding-right: 13px;
}
.columnChooserContainer .headingColumnValue{
    font-size: 17px;
    /*border-radius: 5px;*/
    /*padding: 6px;*/
    min-width: 30%;
    text-align: left;
    display: block;
    margin-left: 30px;
    margin-top: 10px;
    /*color: rgb(119, 124, 119);*/
}

.columnChooserContainer .columnChooserTitleContainer{
    width: 97%;
    text-align: left;
    font-size: 19px;
    /*background: rgb(242, 242, 242);*/
    padding-top: 10px;
    display: inline-block;
}
.columnChooserContainer .columnChooserTitle{
    display: inline-block;
    /*margin-left: 18px;*/
}

.columnChooserContainer .columnChooser{
    display: inline-block;
    width: 98%;
    padding-top: 1%;
    padding-bottom: 2%;
    /*color: rgb(90, 90, 90);*/
    /*background: rgb(242, 242, 242);*/
    margin-bottom: 25px;
}

.columnChooserContainer .columnChooser div{
    display: inline-block;
    padding: 6px;
    padding-right: 6px;
    /*border: 1px solid rgb(218, 211, 211);*/
    margin-left: 3px;
}
.columnChooserContainer .columnChooser div input{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}
.columnChooserContainer .columnChooser div span{
    display: inline-block;
    font-size: 15px;
    margin-top: 3px;
    margin-left: 3px;
}
.columnChooserContainer .currentPageOnlyDiv{
    text-align: left;
    font-size: 18px;
    width: 97%;
    display: none;
}
.columnChooserContainer .currentPageOnlyDiv input{
    vertical-align: middle;
}