.image-display-container{
    z-index: 100004;
    position: fixed;
    text-align: center;
    background-color: rgba(94, 103, 128, 0.66);
    height: 100%;
    width: 100%;
    top: 0px;
}
.image-display-container .image-container{
	width: 100%;
    height: 100%;
    display: inline-block;
}
.image-display-container .image-container > div{
	width: 100%;
    height: 100%;
    display: inline-block;
} 
.display-image{
    background-repeat:no-repeat;
    background-size: auto;
    max-width: 85%;
    max-height: 85%;
    position: relative;
    top: 50px;
    -webkit-transition: -webkit-transform 300ms ease, opacity 300ms ease;
    -webkit-transform: scale(1, 1);
    opacity: 1;
}
.display-image.smallForm{
    -webkit-transform: scale(.1, .1);
    opacity: .1;
}
.image-display-container .image-close-button{
    z-index: 9999;
    position: absolute;
    top:14px;
    right: 10px;
}
.image-download-button{

}

.image-display-container .button{

}