
.list-container {
    display: inline-block;
    position: relative !important;
    background-color: #fff;
    border: 1px solid #0e83cd;
    /* position: relative; */
    margin: 12px;
    border-radius: 2px;
    box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
}
.list-container .mainContainer{
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 10px;
    padding-right: 10px;
}
.list-divHeader {
    padding: 12px 0px;
    position: absolute;
    width: 96%;
    z-index: 999;
}
.list-btnExportToExcel{
    position: absolute;
    left: 10px;
    top: 0px;
    background-image: url(/pic/excel.png);
    width: 35px;
    height: 35px;
    background-size: contain;
    margin-right: 10px;
    cursor: pointer;
    opacity: .2;
}
.list-container:hover .list-btnExportToExcel{
    opacity: 1;
}
.list-btnExportToPdf{
    position: absolute;
    left: 50px;
    top: 2px;
    background-image: url(/pic/pdf.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 31px;
    background-size: contain;
    margin-right: 10px;
    cursor: pointer;
    opacity: .2;
}
.list-container:hover .list-btnExportToPdf{
    opacity: 1;
}
.list-spanDisplayName {
    pointer-events: none;
    position: absolute;
    right: 10px;
    font-size: 20px;
}
.list-divContent {
    overflow: auto;
    min-height: 300px;
    min-width: 500px;
    height: 100%;
    padding-top: 40px;
}
.list-divContent > div{
    width: 100%;
    height: 100%;
}
.list-tableMain{
    border-spacing: 0px !important;
}
.list-tableMain th {
    text-transform: capitalize !important;
    text-align: left;
    padding: 10px 10px !important;
    padding: 8px 5px !important;
    border-bottom: 1px solid #CCC;
    font-size: 14px;
    font-size: 13px;
}

.list-tableMain th input {
    display: none !important;
}

.list-tableMain th > span{
    display: block;
    padding: 5px;
}
.list-tableMain td{
    padding: 10px 10px !important;
    padding: 8px 5px !important;
    color: #000;
    font-size: 14px;
    font-size: 13px;
}

.list-tableMain > tbody > tr:nth-child(odd) {
    background-color: #fff;
}

.list-tableMain > tbody > tr:nth-child(even) {
    background-color: #F9F9F9;
}

.list-container.mobile{
    display: block;
    position: relative;
    margin: 12px 3px;
}
.dataTables_filter{
    display: none;
}

.list-tableMain.wysiwyg_table td {
    padding: 8px;
    min-width: 120px;
}

.list-tableMain.wysiwyg_table td, .list-tableMain.wysiwyg_table td span {
    font-family: "Red Hat Display", sans-serif;
}

.list-container .subReportItem{
    padding: 0;
}

.list-container .subReportItem{
    padding: 0;
}

.list-container {

    & div#DataTables_Table_1_length{
        padding: 1px 7px;
    }

    & .dataTables_wrapper .dataTables_info{

    }
}







