.login-container{
    background: #3498db;
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: auto;
    height: 100%;
    width: 100%;
    text-align:center;
}


.login-form{
    -webkit-transform: rotate(-75deg) scale(.3,.3);
    -moz-transform: rotate(-75deg) scale(.3,.3);
    -ms-transform: rotate(-75deg) scale(.3,.3);
    transform: rotate(-75deg) scale(.3,.3);
    opacity: .1;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login-form h1{
    position: absolute;
    top: 35%;
    width: 100%;
    font: 900 120px/1 'Segoe UI';
    text-shadow:     0 1px 0 hsl(174,5%,80%),
    0 2px 0 hsl(174,5%,75%),
    0 3px 0 hsl(174,5%,70%),
    0 4px 0 hsl(174,5%,66%),
    0 5px 0 hsl(174,5%,64%),
    0 6px 0 hsl(174,5%,62%),
    0 7px 0 hsl(174,5%,61%),
    0 8px 0 hsl(174,5%,60%),

    0 0 5px rgba(0,0,0,.05),
    0 1px 3px rgba(0,0,0,.2),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.2),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.3);
}

.login-form input[type="text"],
.login-form input[type="password"]{
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -webkit-outline-radius: 3px;
    -moz-outline-radius: 3px;
    -ms-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus{
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}

.login-form p{
    margin: 20px 0 0;
}
.login-form .login-button-panel{
    text-align: center;
}

.login-form .login-button-panel input{
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 2px;
    outline: 0;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -ms-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

.login-form .login-button-panel input:active{
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.login-form .login-button-panel input[disabled]{
    opacity: .4;
    cursor: default;
    pointer-events: none;
}



/*  Notifier  */

/*.notifier-element{*/
    /*font-family: 'Roboto';*/
    /*z-index: 99999999;*/
    /*padding: 12px 22px;*/
    /*border-radius: 4px;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    /*position: absolute;*/
    /*font-weight: bold;*/
    /*display: none;*/
    /*text-align: center;*/
    /*min-width: 200px;*/
    /*max-width: 600px;*/
    /*margin: inherit;*/
    /*opacity: 0;*/
    /*color: #ffffff;*/
    /*background: rgba(0,0,0,.4);*/
/*}*/
/*.notifier-info-popup {*/

    /*border: 1px solid transparent;*/
    /*border-color: #F0C36D;*/
    /*background-color: #F9EDBE;*/
    /*-webkit-border-radius: 2px;*/
    /*-moz-border-radius: 2px;*/
    /*-ms-border-radius: 2px;*/
    /*border-radius: 2px;*/
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
    /*-ms-box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
    /*-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
    /*-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
/*}*/

/*.notifier-success-popup*/
/*{*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    /*margin: inherit;*/
    /*color: #4F8A10;*/
    /*border: 1px solid #4F8A10;*/
    /*background-color: #DFF2BF;*/
    /*background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #DFF2BF 2px, #DFF2BF 48%, #D5EEAA); *//* mozilla */
    /*background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #DFF2BF 2px, #DFF2BF 48%, #D5EEAA); *//* mozilla */
    /*background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #DFF2BF 2px, #DFF2BF 48%, #D5EEAA); *//* safari, chrome */
    /*background: linear-gradient(top, #FFFFFF, #FFFFFF 1px, #DFF2BF 2px, #DFF2BF 48%, #D5EEAA); *//* safari, chrome */
/*}*/

/*.notifier-warning-popup*/
/*{*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    /*color: #9F6000;*/
    /*border: 1px solid #9F6000;*/
    /*background-color: #FEEFB3;*/
    /*background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #FEEFB3 2px, #FEEFB3 48%, #FDEA9B); *//* mozilla */
    /*background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #FEEFB3 2px, #FEEFB3 48%, #FDEA9B); *//* mozilla */
    /*background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #FEEFB3 2px, #FEEFB3 48%, #FDEA9B); *//* safari, chrome */
    /*background: linear-gradient(top, #FFFFFF, #FFFFFF 1px, #FEEFB3 2px, #FEEFB3 48%, #FDEA9B); *//* safari, chrome */
/*}*/

/*.notifier-error-popup*/
/*{*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    /*color: #D8000C;*/
    /*border: 1px solid #D8000C;*/
    /*background-color: #FFBABA;*/
    /*background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #FFBABA 2px, #FFBABA 48%, #FF9E9E); *//* mozilla */
    /*background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #FFBABA 2px, #FFBABA 48%, #FF9E9E); *//* mozilla */
    /*background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #FFBABA 2px, #FFBABA 48%, #FF9E9E); *//* safari, chrome */
    /*background: linear-gradient(top, #FFFFFF, #FFFFFF 1px, #FFBABA 2px, #FFBABA 48%, #FF9E9E); *//* safari, chrome */
/*}*/