.reportFilter-panel{
    display: inline-block;
}
.reportFilter-container {
    display: inline-block;
    background-color: #FFF;
    border: 1px solid rgba(203, 203, 203, 0.45);
    box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
    margin-right: 10px;
    font-size: 14px;
    padding: 5px 20px;
}
.reportFilter-form-elements .chosen-container{
    min-width:200px;
}
.reportFilter-container td{
    display: block;
}
.reportFilter-container input{
    padding: 2px;
}
.reportFilter-display-name{
    padding: 5px;
}
.reportFilter-button-panel{
    padding: 3px;
    display: none;
}


.reportFilter-panel.mobile{
    width: 100%;
    overflow: auto;
}

.reportFilter-container.mobile{
    display: block;
    position: relative;
    padding: 3px 10px;
    margin-right: 5px;
}
/*.reportFilter-panel.mobile .reportFilter-manager-table-main>tbody>tr>td{*/
/*display: block;*/
/*}*/
