.tabber-container{
    color: #000;
    border-bottom: 1px dashed #999;
}
.tabber-container .tabber-tab-elements{
    padding-left: 25px;
    margin-bottom: -1px;
}
.tabber-tab-elements .tab-element.stickyTab{
    display: none !important;
}
.tabber-tab-elements .tab-element{
    padding: 10px 10px;
    padding-right: 20px;
    display: inline-block;
    margin-bottom: -.5px;
    cursor: pointer;
    font-size: 15px;
    border: 1px dashed transparent;
    position: relative;
}
.tabber-tab-elements .tab-element.hasNotification::after {
    content: attr(data-notification-count);
    position: absolute;
    text-align: center;
    line-height: 15px;
    right: 5px;
    top: 0px;
    width: 15px;
    font-size: 12px;
    display: inline-block;
    height: 15px;
    color: white;
    border-radius: 50%;
    background-color: red;
}
.tabber-tab-elements .tab-element:not(.tab-selected):hover{
    border: 1px dashed #999;
    border-bottom: 1px solid #fbfaf9;
}
.tabber-tab-elements .tab-selected{
    border: 1px dashed #bbb;
    border-bottom: 1px solid #fbfaf9;
}