.flip-container{
    display: inline-block;
    z-index: 9;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
.flip-container:hover .thumb-nail-view-container{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.thumb-nail-view-container{
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    transition: .4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}
.thumb-nail-view-front-container {
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #cbcbcb;

    margin: 5px;
    min-width: 250px;
    min-height: 150px;

}
.thumb-nail-view-back-container {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    margin: 5px;
    min-width: 250px;
    min-height: 150px;
    position: absolute;
}
.thumb-nail-view-front-container, .thumb-nail-view-back-container{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    top: 0;
    left: 0;
}
.thumb-nail-view-front-container {
    z-index: 2;
    border-top: solid #3498db;
    border-width: 5px 1px 1px 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.thumb-nail-view-back-container{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-top: solid #3498db;
    border-width: 5px 1px 1px 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.thumb-nail-view-front-container .div-header {
    /*border-bottom: 1px solid #EEE;*/
    color: #777;
    cursor: pointer;
    padding: 10px 8px;
    /*background-color: #F8F8F8;*/
}
.thumb-nail-view-back-container .div-header {
    /*border-bottom: 1px solid #EEE;*/
    color: #777;
    cursor: pointer;
    padding: 10px 8px;
    /*background-color: #F8F8F8;*/
}
.thumb-nail-view-front-container .div-front-content {
    padding: 2px 40px;
}
.thumb-nail-view-back-container .div-back-content {
    padding: 2px 40px;
}
.div-back-button-container{
    min-height: 40px;
}
.div-back-button{
    position: absolute;
    right: 4px;
}
.thumb-nail-view-front-container td{
    /*position: relative;*/
}
.thumb-nail-view-back-container td{
    /*position: relative;*/
}